SYMPLA_API_TOKEN=sympla_key
TICKETMASTER_CONSUMER_KEY=ticket_custom_key
TICKETMASTER_CONSUMER_SECRET=ticket_custom_secret
INGRESSE_API_KEY=ingresse_key

#Airflow configuration setup
AIRFLOW_UID=1000
AIRFLOW_USER=admin
AIRFLOW_PASS=admin

#Tags of images
REDIS_TAG=7.0.0
POSTGRES_TAG=13
MINIO_TAG=RELEASE.2021-10-23T03-28-24Z
MC_TAG=RELEASE.2021-11-05T10-05-06Z